<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta name="title" content="Guardamar del Segura, sitio web sobre el pueblo, encabezado común">
<meta name="author" content="Carolina García González">
<meta name="release date" content="22-11-2024">
<meta name="description" content="Encabezado común a todas las páginas sobre la localidad Guardamar del Segura">
<meta name="keywords" content="Guardamar del Segura, turismo, playa, pinada, viajes, escapada">
<meta name="copyright" content="UOC 2024">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./styles.css">
<script src="./app.js"></script>
<title>Guardamar del Segura</title>
</head>

<body>
	
<header>
	
	<div class="encabezado">
		
	<div class="logo">
		<a href="index.html" class="a-nada"><img src="./img/logo.png" alt="AMAR GUARDAMAR" title="Logo de turismo de Guardamar del Segura (reestilizado para que pegue en la página)"></a>
	</div>
	
	<div class="menu">		
		<nav>
			<ul>
		<li><a class="menu-nav" href="categoria.html">¿Qué ver en Guardamar?</a></li>
		<li><a class="menu-nav" href="presentacion.html">Nuestro pueblo</a></li>
		<li><a class="menu-nav" href="enlaces.html">Referencias</a></li>
			</ul>
		</nav>
	</div>
		
</div>
		
</header>
	
</body>
</html>
